[2019-08-23 08:25] Reedyuk opened #1 "Kotlin Multiplatform example using library"
Need to create an example using kotlin multiplatform to show the real benefits of using blue falcon.

[2019-08-23 08:26] Reedyuk opened #2 "Examples to show connection to a device"
Need to extend the current examples to show how to connect to a bluetooth device.

[2019-08-23 08:27] Reedyuk opened #3 "Examples to show how to fetch services and characteristics"
Extend the current examples to show how to fetch bluetooth services and characteristics and then to fetch data from them.

[2019-08-26 00:41] Reedyuk opened #4 "Read bluetooth charactertic"
Examples in ios and android to fetch bt characteristics value

[2019-08-26 00:42] Reedyuk opened #5 "Write Bluetooth characteristic"
for ios and android examples, show success writing to bt characteristics

[2019-08-26 00:43] Reedyuk opened #6 "Notify on characteristic"
Android and ios to be notified on characteristic value changed.

[2019-08-26 00:44] #2 closed

[2019-08-26 00:44] #3 closed

[2019-08-30 17:12] Reedyuk opened #7 "Descriptors - implement fetching on both ios and android"
We need to fetch the BT descriptors for services and characteristics.
Render them in the examples

[2019-08-30 17:25] #5 closed

[2019-08-30 17:25] #4 closed

[2019-08-30 17:26] Reedyuk opened #9 "Improve iOS example"

[2019-08-30 17:26] Reedyuk opened #10 "improve Android example"

[2019-09-05 14:19] KonnorTimmons1297 opened #11 "Adding to android project"
I'm not sure how to add this library to my project without cloning the repo and manually adding it. Has this project been setup on package repository yet?

[2019-09-05 15:00] Reedyuk commented on #11
Hi Konnor, I am in the progress of adding the library to Bintray.
I will update this issue when it’s complete.
Thanks

[2019-09-05 15:05] Reedyuk commented on #11
For a temp solution you can clone the repo and use it relatively like the android example.

[2019-09-11 17:02] Reedyuk commented on #11
ive not had chance to test it yet:
https://search.maven.org/search?q=g:dev.bluefalcon

[2019-09-22 13:12] Reedyuk commented on #11
Hi,
`implementation 'dev.bluefalcon:library-android:0.0.3'`
Try this, it should work now.

[2019-09-22 13:12] #11 closed

[2019-09-22 13:43] #9 closed

[2019-10-07 14:44] Alex009 opened #14 "Update to Kotlin 1.3.50"
Please update library in maven repo to kotlin 1.3.50. Kotlin/Native require equals versions of libs with project's version

[2019-10-07 15:14] Reedyuk commented on #14
Hey Alex, sure i will try to get this done asap.

[2019-10-07 21:10] Reedyuk commented on #14
https://search.maven.org/search?q=dev.bluefalcon
Master is updated and just waiting for hosting to update. 0.0.4

[2019-10-07 21:10] #14 closed

[2019-10-07 21:24] Reedyuk opened #15 "Increase mtu size"
On Android by default mtu size is 20, we should allow for the api to handle multiple sizes

[2019-10-08 10:17] #6 closed

[2019-10-08 10:17] #10 closed

[2019-10-08 23:02] kirandwarkan opened #16 "Android - Stop scanning does not work & potential fix"
Hi,

I noticed that the `stopScanning()` implementation for Android does not actually stop scanning for devices.
However, adding the method call

`bluetoothManager.adapter?.bluetoothLeScanner?.stopScan(mBluetoothScanCallBack)`

to the Android implementation of the `stopScanning` method works.
Is there a reason why this call is not being made in that method? I have only tested this in my app, but w

[2019-10-09 06:41] Reedyuk opened #17 "Setup CI"
Setup ci to build deploy to nexus repositories.

[2019-10-09 06:46] Reedyuk commented on #16
Possibly a bug, let me investigate but I thought I had put in a similar line of code for the stop scanning method.

[2019-10-09 08:12] Reedyuk commented on #16
I have pushed those changes to master, i will publish on nexus when i can.

[2019-10-09 09:15] #15 closed

[2019-10-09 14:53] kirandwarkan commented on #16
Thanks for the quick response. I'm using the project relatively off the latest master since I needed the serviceUUID changes. I'll try using 0.5.0 from nexus.

However, I can't see that stop scanning code changes on master. Perhaps forgot to push to github?

[2019-10-09 15:05] Reedyuk commented on #16
Not sure how that happened, please pull master now, its there.

[2019-10-09 15:24] Reedyuk commented on #16
Also could you reply if this is working as expected for you so i can close this issue.
If you decide to use this library in an app, it would be great to add you to the list of Apps using this library

[2019-10-09 17:08] kirandwarkan commented on #16
Tried latest master and that works.
As for the app, I'm still in the process of building it and ensuring that I can meet the requirements for our BLE functionality. Will let you know if we settle on using blue-falcon and release the app on the Play Store.

[2019-10-09 17:08] #16 closed

[2019-10-28 21:30] Reedyuk opened #19 "Add android rssi"
Add RSSI for android
Finish Open PR

[2019-10-30 08:40] Reedyuk opened #23 "Publish to cocoapods?"
@shelaranton - Do you want me to setup bluefalcon so that you can consume via cocoapods? or are you using it as just a basic framework?
I can setup the code base so that it pushes to a different repo which could be consumed via cocoapods.

Interested in your point of view on this? If you dont, then it can wait.

[2019-10-30 12:04] shelaranton commented on #23
Hi!
I'm using your library for kotlin multiplatform project

ср, 30 окт. 2019 г. в 15:40, Andrew Reed <notifications@github.com>:

[2019-11-02 23:52] #19 closed

[2019-11-02 23:53] #1 closed

[2020-02-18 06:37] felislynx-silae opened #24 "iOS build issues"
If i include blue falcon in my multiplatform project in section iosMain, adding
[code]
Results in (while building from Xcode) error

[code]

Providing just
[code]
Results with:
[code]

Also there is no "library-ios:0.5.4" when building with jcenter, only 0.5.1 version.

My architecture is
 - Android app which contains k/n library which have dependencies on blue falcon for Android/iOS
 - iOS app wh

[2020-02-18 08:59] Reedyuk commented on #24
Hi @felislynx-silae - i think the issue you are getting is because the library was compiled kotlin 1.3.50 and not your version 1.3.61.
I will need to re-compile and upload a new version for you, for now, you could pull the repo locally, update the kotlin version and then publish locally and you should be able to fetch it then.

Jcenter:
The old version of the bluefalcon library was using library-i

[2020-02-18 09:18] felislynx-silae commented on #24
Ok, thank you for response.
Is this possible for you, to publish 1.3.61 compiled this week? If no, then i'll pull the repo locally (usually i try to avoid pulling too much libs as local repos :) ) and update to jcenter when you upload new version.

[2020-02-18 09:35] Reedyuk commented on #24
i will try to do it this week.

[2020-02-19 08:32] Reedyuk commented on #24
I have just released version 0.5.5, please give this a few hours to display in maven central.
This will support 1.3.61. Re-open this issue if you still have the same problem.

[2020-02-19 08:32] #24 closed

[2020-02-19 10:08] felislynx-silae opened #26 "Help with ios BluetoothUnknownException"
First, thank you for upgrading library to latest Kotlin version.
Now i'm trying to use it with iphone.
I've empty project, added
Privacy - Bluetooth Always Usage Description
Privacy - Bluetooth Peripheral Usage Description
into Info.plist
and after running scan i've got
BluetoothUnknownException - Unknown error happened
Initialization of library is done like in sample: LibraryBlueFalcon(context: U

[2020-02-19 10:14] Reedyuk commented on #26
Are you running this in the simulator? Any bluetooth services cannot be used on the simulator.

[2020-02-19 11:11] felislynx-silae commented on #26
I've checked this on 5s and 11 (physical devices)

[2020-02-19 11:23] Reedyuk commented on #26
Can you send me a zipped version of the project? I would also suggest you have a look at the example projects in this repo.

[2020-02-19 11:51] felislynx-silae commented on #26
By the way, in my code its named LibraryBlueFalcon because kotlin made header file with prefixes to distinguish K/N libraries

[2020-02-19 15:10] #26 closed

[2020-02-20 12:15] felislynx-silae opened #27 "Lack of TRANSPORT_LE for Android prevents from working with BLE UART connections"
In Android when you use connectGatt you can pass TRANSPORT_LE as last parameter which might be required for some devices. Same thing can be done via changing characteristic descriptor parameter via gatt. Currently if i create gatt uart server on Raspberry Pi, i can connect to it and discover services/characteristics but read/writes are not working. This is not a case for iOS which works.

**Descri

[2020-02-20 13:23] Reedyuk commented on #27
I will try to have a look at this in the coming weeks, otherwise you are welcome to add your own PR with the changes.

[2020-04-01 11:51] Reedyuk commented on #27
Hi @felislynx-silae, i am just working on the change now, you will be able to modify a property on the android BlueFalcon object called transport method, i will adjust the android example to accommodate for this.
![Screenshot 2020-04-01 at 12 51 36](https://user-images.githubusercontent.com/3853006/78134128-899c1980-7417-11ea-9332-7f29d6fab045.png)

[2020-04-01 12:07] #27 closed

[2020-04-25 10:36] #7 closed

[2020-04-25 11:42] #17 closed

[2020-04-27 15:16] virulentHive opened #31 "Characteristic indication"
Would it be possible to add characteristic indication capability beside notification? Our specific usecase and GATT server device requires that we set indication on a characteristic.

Thanks in advance!

[2020-04-27 15:32] Reedyuk commented on #31
So you would want to send an enum something like:
    public static final byte[] ENABLE_NOTIFICATION_VALUE
    public static final byte[] ENABLE_INDICATION_VALUE
    public static final byte[] DISABLE_NOTIFICATION_VALUE

Would you also want to be able to set the descriptor value too?

Just trying to think how i can make this as generic as possible to support Android, iOS, MacOS.

[2020-04-27 15:46] virulentHive commented on #31
Wow that was fast, thanks. :)

Personally I think it would be best to provide an indicateCharacteristic() method (with the same arguments as its notify counterpart). It could then set the ENABLE_INDICATION_VALUE in the descriptor internally. No other descriptor value setting is needed I think.
AFAIK on iOS it wouldn't matter as it handles it automatically. No clue about macOS though but I imagine

[2020-04-27 16:11] Reedyuk commented on #31
Yep makes sense, let me see if i can squeeze out a change over the weekend, otherwise, happy for you to fork and put a pr in.

[2020-04-27 17:32] virulentHive commented on #31
Just published a PR. I also added the possibility to set both notification and indication. That makes it more in line with iOS functionality.

[2020-04-27 20:02] Reedyuk commented on #31
I have merged and published as 0.6.5, this should appear in maven central within the next few hours.

[2020-04-27 20:02] #31 closed

[2020-04-28 13:29] virulentHive opened #33 "Characteristic value string encoded with UTF-8 alters byte values"
Currently the BT characteristic value is represented as a String, which is encoded from byte[] (Android) and NSData (iOS) with UTF-8 encoding. This is OK if the characteristic value contains byte values in the UTF-8 charset but causes problems otherwise (replaces unknown byte value with the Unicode replacement character U+FFFD "�").

Example:
[code]
In this specific case our device is sending 4 by

[2020-04-28 13:43] Reedyuk commented on #33
No, thats my bad, i was lazy and with my custom bluetooth device i was sending over string. Happy for you to put a PR in. Cheers.

[2020-04-28 14:52] virulentHive commented on #33
Oh, right. :)
Submitted the PR.

[2020-04-28 17:49] #33 closed

[2020-04-29 06:55] virulentHive commented on #33
Thanks for the update.
The new version is not on maven central though. The gradle.properties shows the previous version number.

[2020-04-29 07:51] Reedyuk commented on #33
strange, let me do it again now.

[2020-05-13 11:33] PeterKucera opened #35 "Characteristic value changed to ByteArrray but writeCharacteristic() is still using String"
Hi all,

I am using latest version of library ("dev.bluefalcon:library:0.6.6"),

and even after [this fix](https://github.com/Reedyuk/blue-falcon/commit/800d23c1ba2a1c777d10148ede368bf82b45062f)

method writeCharacteristic() still accepts only String argument.

To achieve bidirectional communication only using bytes it's neccessary to either change argument type of writeCharacteristic(value:String

[2020-05-13 13:05] Reedyuk commented on #35
Yes makes sense, i will see if i can change this for you or if you wish to put a PR in, i can review and merge in.

[2020-06-08 06:47] felislynx-silae commented on #35
@Reedyuk i've made quick patch https://drive.google.com/file/d/13VH37vWAkf2DwVGbGIrxBhRbst6n2q-9/view?usp=sharing

With Android implementation, i have no idea how to implement this in iOS/macos.
But i hope this might be a good start. I also belive this feature is quite important

[2020-06-08 08:06] Reedyuk commented on #35
I cant access it, if you want to just fork the repo and put a PR in against my master, then i can add the ios/macos changes too.

[2020-06-08 08:41] felislynx-silae commented on #35
@Reedyuk sorry, new google sharing settings are annoying, i've made correction and now you should be able to access them. This is very fast draft (i think it is correct), i'm now under huge deadline :D so patch is best i could do in free time

[2020-06-08 08:47] Reedyuk commented on #35
No worries, thanks for the update, when i get a moment i will try it out and add the relevant ios changes.
I will keep this issue open until its merged in.
Can i ask, are you using Blue-Falcon in a production app? would be great to see who is using it.

[2020-06-08 09:22] felislynx-silae commented on #35
Yes, i'm using it in production apps. Not yet released. I'm working on both iOS and Android version of app :). When it will be released i'll let you know with a link if you want

[2020-06-08 09:27] Reedyuk commented on #35
Excellent, yes a link would be great when you release.
I'm hoping that jetbrains fixes the threading issues on iOS with a new version of kotlin coroutines, once this is in place, we will be able to use multithreading correctly.

[2020-06-09 22:11] #35 closed

[2020-06-10 09:28] Reedyuk commented on #35
https://search.maven.org/artifact/dev.bluefalcon/library/0.6.7/pom
Version 0.6.7 released and in maven central

[2020-06-15 04:00] felislynx-silae commented on #35
@Reedyuk in maven central there is released 0.6.7 version for every platform except for Android :)

[2020-06-15 07:54] Reedyuk commented on #35
ok, i have just pushed 0.6.8, this should appear in the next few hours. This one definitely has android, im not sure what happened there.

[2020-06-18 07:00] felislynx-silae opened #37 "[ANDROID] OnConnected called when device is disconnected"
This code listens to connection change event, it doesn't check what's new state, it always tries to "connect" to device and sends that information out. So if i'm connected and turn off external device, i get information that i'm connected :)
Didn't checked iOS (will do in upcoming weeks) yet.
[code]

[2020-06-18 08:33] Reedyuk commented on #37
good spot, we should check the status/new state to determine if connected.

[2020-06-18 11:36] PeterKucera opened #38 "[Android] Exposing autoConnect flag"
Hi all,

In [BlueFalcon Android actual class](https://github.com/Reedyuk/blue-falcon/blob/master/library/src/androidMain/kotlin/dev/bluefalcon/BlueFalcon.kt) , method connectGatt is called with flag autoconnect set to false by default.

I understand this is for a reason - in iOS there's no such thing as autoConnect flag (autoConnect on iOS is implicit - correct me if I'm wrong).

But IMO there is

[2020-06-18 11:42] Reedyuk commented on #38
Yes sounds like a logical approach. Do you want to put a PR in for it.

[2020-06-18 12:38] PeterKucera opened #39 "Characteristic updates after device reconnection"
Hi all,

I am currently experiencing following issue:

BlueFalcon version -  0.6.6
Device - Samsung Galaxy XCover 4, Android 9

**Expected:**

1. Init delegate class for BLE device ✅
2. Connect to peripherial (successful connection, characteristic discovery and call notifyCharacteristic) ✅
3. writeCharacteristic & didCharacteristicValueChanged methods work as expected ✅
4. Disconnect from peripher

[2020-06-18 17:47] felislynx-silae commented on #39
If using few characteristics with notification on, try placing delay 350ms between each enableNotification call. I had this issue, and placing delay solved my problem

[2020-06-18 17:51] felislynx-silae commented on #38
Good point. Worth to remember that there was a bug in autoconnect feature (2-3 years ago). Google is not well known with bugfixing in some Android internals ;). Is it working correctly now?

[2020-06-18 22:47] Reedyuk commented on #39
as @felislynx-silae - i think i did something similar, adding an artificial delay. I think it could be a bug with Android.
I would need to investigate further to understand the root cause.

[2020-06-20 09:50] Reedyuk commented on #37
Hi @felislynx-silae - do you want to check my PR, this should address the issue you were experiencing.

[2020-06-20 09:51] Reedyuk opened #41 "Change Android example to not use Anko"
TODO - the android example crashes alot, should move away from anko and use the default google way.

[2020-06-20 12:15] felislynx-silae commented on #37
Hi, it looks good. If more comes out during tests i'll  let you know :)

[2020-06-21 09:50] Reedyuk commented on #38
https://github.com/Reedyuk/blue-falcon/pull/42

[2020-06-21 09:51] #38 closed

[2020-06-21 09:51] #37 closed

[2020-06-24 05:59] felislynx-silae opened #43 "iOS 13.5 Error while requested connection to device"
Hi, after invoking "falcon.connect(device)" on iOS 13.5 i get this in didDiscoverServices call
2020-06-24 07:56:19.182475+0200 App[6530:4475232] [CoreBluetooth] API MISUSE: Discovering characteristic descriptors for peripheral <CBPeripheral: 0x2802d0960, identifier = 2BF80158-F03A-AEEE-0FD4-598964BCA682, name = RPIDevice, state = connected> while delegate is either nil or does not implement periph

[2020-06-24 07:08] Reedyuk commented on #43
yeah i need to fix that, simple enough i hope.

[2020-06-24 07:34] felislynx-silae commented on #43
I hope so :D i was happy that all roadblocks were cleared and this happened :(

[2020-06-25 04:36] felislynx-silae commented on #43
I did little research (couldn't check since attaching BlueFalcon into my Kotlin Multiplatform project made ios build to not see Blue Falcon classes :/ ). It looks like delegate on peripheral is set too late (currently in didConnect). Shouldn't we set it before calling connect?

[2020-06-25 08:39] felislynx-silae commented on #43
Did little research:
    `@kotlinx.cinterop.ObjCMethod public open fun peripheral(peripheral: platform.CoreBluetooth.CBPeripheral, didDiscoverDescriptorsForCharacteristic: platform.CoreBluetooth.CBCharacteristic, error: platform.Foundation.NSError?): kotlin.Unit { /* compiled code */ }`
Is present in knm, but we are unable to do override since those two have same signature and overloads are confli

[2020-06-28 18:58] Reedyuk commented on #43
Hi @felislynx-silae - here is a PR for the fix to stop the error message of misuse api usage.
https://github.com/Reedyuk/blue-falcon/pull/44/files

[2020-06-29 03:45] felislynx-silae commented on #43
Hi @Reedyuk I've checked your PR with devices and it is connecting and communicating. So i think, ready to merge :)

[2020-06-29 06:54] #43 closed

[2020-06-29 07:00] Reedyuk commented on #43
released 0.7.0

[2020-07-14 13:24] kazyh opened #45 "Android not calling close() method on BluetoothGatt when disconnecting"
It is propably only android issue

When calling connect and disconnect device several times during one app session GattCallbacks are aggregated and I get multiplied callbacks about characteristic changed.

This happens because in BluetoothGatt.connect (it is called by BluetoothDevice.connectGatt in BlueFalcon.connect) callback is registered. But BlueFalcon.disconnect method calling only BluetoothG

[2020-07-14 13:32] kazyh commented on #45
It will also solve problem with double didDisconnect call (didDisconnect is called direct from bluefalcon disconnect method and it is called again when gattCallbeck.onConnectionStateChange notify about newState == STATE_DISCONNECTED ) .

If BluetoothGatt.close() would be called in disconnect method it will prevent from any callbacks from disconnected device.

[2020-07-14 13:41] kazyh commented on #39
Maybe this is somehow connected with issue I reported #45

[2020-07-14 13:54] Reedyuk commented on #45
ok sounds logical, i will look into it. - PR's always welcome.

[2020-07-27 15:51] xPutnikx opened #46 "Library metadata is missing for kotlin MP"
Hi,

I'm trying to use the latest version of the library (0.7.0 and 0.7.1) and experience some problems with the dependencies in Kotlin multiplatform project.
I was able to reproduce the issue using the Kotlin-MP sample.

## The issue
When using the latest version of the library in the kotlin-multiplatform project, the dependencies in `commonMain` can't be resolved.

## Steps to reproduce
1. Open

[2020-07-27 15:54] Reedyuk commented on #46
Yes, I must have broken it when i moved over to using Github actions. I will need to investigate why its not packaging correctly.
Thanks

[2020-07-27 16:09] xPutnikx commented on #46
I have done a bit of investigation and tests just now.
I see an issue on Kotlin tracker which might be related to that https://youtrack.jetbrains.com/issue/KT-34038

It looks like only AndroidStudio fails to resolve dependencies while the compiler actually works and compiles the project properly.

[2020-08-01 20:20] Reedyuk commented on #46
What version of gradle are you using? im finding at the moment version 6+ has alot of issues.
I have reverted back to 5.6.4

[2020-08-01 20:28] Reedyuk commented on #46
So checked to make sure maven central has all the libraries, it does:
![Screenshot 2020-08-01 at 21 27 20](https://user-images.githubusercontent.com/3853006/89109960-d29fc100-d43d-11ea-93fd-b992f3362198.png)

So im going to close this issue, as i think this is unfortunately a kotlin issue.

[2020-08-01 20:28] #46 closed

[2020-08-01 20:44] #45 closed

[2020-08-01 20:46] Reedyuk commented on #45
Issue has been closed, please checkout release 0.7.2

[2020-08-01 20:46] Reedyuk commented on #39
@felislynx-silae - can you try again with 0.7.2 library and confirm if your issue still exists?

[2020-08-10 16:31] felislynx-silae commented on #39
@Reedyuk which issue? If you mean enableNotification one, i solved it by adding delay weeks ago :)

[2020-08-11 08:05] #39 closed

[2020-08-12 00:31] PeterKucera commented on #39
I have managed to resolve this issue by using autoConnect flag. Using autoConnect method connect() is called only once and works as expected.

[2020-08-13 13:18] PeterKucera opened #49 "Unresolved reference - BlueFalcon"
Hi all,

I am experiencing following issue:

Inside commonMain package Android Studio reports that import dev.bluefalcon.* cannot be resolved, but when I try to build & run project - the app builds and works as expected. Only problem is that all BlueFalcon related methods / imports are not resolved and code readability is bad, since all unresolved objects are highlited in red.

Anyone else experie

[2020-08-24 08:40] kazyh opened #50 "Writing characteristic not working after reconnect."
Issue created with #45 fix.
After disconnect by calling disconnect method and reconnect again with device within same BlueFalcon instance, we won’t be able to write to gatt characteristic.

It is because when we close the gatt connection in disconnect method, the method onConnectionStateChange from BluetoothGattCallback will never be called and as a result removeGatt method won’t be called. Thus t

[2020-08-24 19:22] Reedyuk commented on #50
hmm, second would be better. I think we should try it and see if it doesnt break anything.

[2020-08-26 15:12] PeterKucera opened #51 "Method didDiscoverDevice returns Bluetooth MAC address instead of name"
**Steps to reproduce**

In method didDiscoverDevice,  bluetoothPeripherial.name contains instead of string value with device name only MAC address of that given device.

Expected
I/BlueFalcon: Discovered device : DeviceNameXY

Actual
I/BlueFalcon: Discovered device : 46:95:8F:86:74:A0

**Additional info**
Device - Samsung XCover Pro
OS version - Android 10
Library version - "dev.bluefalcon:library

[2020-08-26 16:05] PeterKucera commented on #51
Now I see what causes this behaviour, if device name is null, device address is returned instead,

From class BluetoothPeripheral:

` actual val name: String?
        get() = bluetoothDevice.name ?: bluetoothDevice.address`

[2020-08-26 16:09] Reedyuk commented on #51
Yep its intentional to ensure something is returned, as apposed to nothing.

[2020-08-26 16:09] #51 closed

[2020-09-08 04:55] felislynx-silae opened #52 "Android - occasionally after connect is done, library calls didDisconnect instead of didConnect"
Currently i'm testing integration with external device so i'm performing connection a lot of times.
Currently i would say that once every 4 tries after i'm connected to peripheral, library calls didDisconnect (peripheral states that i've connected successfully).

[2020-09-15 11:26] felislynx-silae commented on #52
Self fixed: stopLEScan need to be called after didConnect if called before, this happens

[2020-09-15 11:26] #52 closed

[2020-09-16 11:39] felislynx-silae opened #53 "GATT connection not closing (ANDROID)"
Hi, during more stress test of my app, i've discovered that Android device after some time causes peripheral to stop accept connections and stops from being visible in ble scan. This is not a case for iOS.
Steps to reproduce:

0. Transport type LE
1. Start LE scan if peripheral MAC found, connect
2. If onConnected emited, stop LE scan
3. acquire all characteristics (setup notifications etc)
4. wai

[2020-09-16 11:51] Reedyuk commented on #53
Nice catch, so maybe we need to purge the Gatt objects?

[2020-09-16 11:52] Reedyuk commented on #49
This was a reported issue with Kotlin, I would recommend you upgrade to a newer version.

[2020-09-16 12:39] felislynx-silae commented on #53
I would start with setting references to null. Calling close and disconnect or searching for more solutions. This is clearly issue with android bt stack since internet is full of posts about ble issues :) shame that we need to do something with this not google. Kudos for Apple for better BT stack. If you provide some branches to test i will do stress tests ASAP (between 5am and 2pm :) )

[2020-09-17 16:54] PeterKucera commented on #53
I can reproduce the exact same issue.

I have tried to investigate a little bit, e.g. have a look on [following link](https://stackoverflow.com/questions/35986549/totally-disconnect-a-bluetooth-low-energy-device) .

"As previously stated, the problem is caused by calling connectGatt multiple times. Each one of those calls create a new BluetoothGatt instance and they are all kept alive, while you h

[2020-09-18 08:46] felislynx-silae commented on #53
I think that solution from @PeterKucera might work, worth a try

[2020-09-21 10:34] PeterKucera commented on #53
Hi all,

I have done some tests and tried to modify the library.

It looks like approach mentioned in my [previous comment](https://github.com/Reedyuk/blue-falcon/issues/53#issuecomment-694364096) will not fix the issue.

However, it looks like the issue could be calling calling close() method right after disconnect() method - when I added some delay between these 2 method calls, I cannot reproduc

[2020-09-24 06:29] felislynx-silae commented on #53
@PeterKucera I've tested your commit. It is not fixing this issue. Currently only working solution is nulling all references to BlueFalcon and recreate object

[2020-09-27 20:01] marcforn commented on #49
Hi all,

I'm having exactly the same issue. Impossible to resolve BlueFalcon reference.

I'm using:
Android Studio 4.1 RC3
Kotlin version 1.4.10
BlueFalcon 0.7.2

[2020-09-28 19:26] marcforn opened #54 "Library not working on Kotlin 1.4.x"
Library only works on Kotlin 1.37.2 but not on version 1.4.x

**Error**
e: Could not find "/Users/xxxxxx/.gradle/caches/modules-2/files-2.1/dev.bluefalcon/library-iosx64/0.7.2/a144ef7bdbb2b135d54d02993a459c6f89e4e643/library.klib" in [/Users/xxxxxx/AndroidStudioProjects/kmm-demo, /Users/xxxxxx/.konan/klib, /Users/marc.forn/.konan/kotlin-native-prebuilt-macos-1.4.10/klib/common, /Users/xxxxxx/.kona

[2020-09-30 10:35] felislynx-silae opened #55 "[FEATURE REQUEST] Support for RaspberryPi"
Well, i've been thinking about some future projects and one of them is related to Kotlin application on RPI. And i noticed that there is no good Bluetooth library for RPI with Java/Kotlin. What do you think about that?

[2020-09-30 10:38] Reedyuk commented on #55
Its very Python heavy, but totally agree. Happy to look into it, just been very busy.
The same with support Javascript on the front end would be cool(its possible).

[2020-09-30 11:30] felislynx-silae commented on #55
True, funny enough i was working on 3 projects on RPI. One with Android Things (shame they ditched project), two on linux and java/kotlin (you can use gpio and i2c without many problems). Right now you can even build ui with flutter on RPI which works very well even for alpha. So there is python'less future for RPI in sobe cases :)

[2020-09-30 19:30] Reedyuk commented on #54
Hi @marcforn - i have just uploaded a new version to maven, this should appear in a few hours. version: 0.8.0 - now supports 1.4.10

[2020-09-30 19:30] #54 closed

[2020-09-30 19:30] Reedyuk commented on #49
I have just uploaded version 0.8.0, should be there in a few hours, please can you try and see if it works ok.

[2020-10-01 09:05] marcforn commented on #54
Great job!! Thanks

[2020-10-01 09:14] marcforn commented on #49
I do confirm. With newest version imports are resolved successfully.

[2020-10-05 08:17] PeterKucera opened #56 "BluetoothGatt: android.os.DeadObjectException"
**Expected**
For creating a connection, I am using method connect() with autoConnect flag set to true. This is setup once and it is expected that after setting up this "autoConnect", there is no other action required and Android OS BLE stack will notify the app, once remote device becomes available, and this call will never time out.

**Actual**
Sometimes, I can reproduce following behavior:
App i

[2020-10-09 09:25] ln-12 opened #57 "Cannot build KotlinMP example"
**Describe the bug**
It is not possible to build the KotlinMP example in XCode.
Error message:

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Clone repo
2. Open XCode project inside KotlinMP exmaple
3. Build

**Expected behavior**
Build completes without errors.

**Desktop (please complete the following information):**
 - OS: macOS 10.15.7

**Smartphone (please complete the following

[2020-10-09 09:29] Reedyuk commented on #57
What version of Gradle and also kotlin?

Looks like the coroutines library used is of 1.3.70 and needs to be changed to a 1.4 one.

```e: Could not find "/Users/lneumann/.gradle/caches/modules-2/files-2.1/org.jetbrains.kotlinx/kotlinx-coroutines-core-iosarm64/1.3.8/ab1f410af27e33b328b0e7b3b75875953822e9eb/kotlinx-coroutines-core.klib" in [/Users/lneumann/Projekte/SteigtUm/blue-falcon/examples/Kotl

[2020-10-09 09:41] ln-12 commented on #57
Ok, that helped. Now there's another error I can't get rid of. I also had this one in my own project, that's why I wanted to try out the example to see if I'm doing wrong:

[code]

[2020-10-09 09:43] ln-12 commented on #57
If I remove the `@Throws` annotation, Xcode builds the project and runs the app. It seems to work fine at first sight, but in the console XCode outputs: `Unknown error happened`.

[2020-10-09 09:47] Reedyuk commented on #57
Try kotlin.native.Throws instead?

[2020-10-09 09:50] ln-12 commented on #57
Nope. Either I put the `@Throws` annotation above the method and get `@Throws must have non-empty class list` or I leave it out and get `Function doesn't have or inherit @Throws annotation and thus exception isn't propagated from Kotlin to Objective-C/Swift as NSError.
It is considered unexpected and unhandled instead. Program will be terminated.`

[2020-10-09 09:53] Reedyuk commented on #57
Sounds very familiar, i recall having a similar issue before and cant remember what i did the fix it. Let me have a think about it.

[2020-10-09 10:26] ln-12 commented on #57
I figured it out now. I can't call `scan()` directly from Swift. Instead, I need to use your `MainCompat` approach like shown [here](https://github.com/Reedyuk/blue-falcon/blob/master/examples/KotlinMP/app/src/commonMain/kotlin/presentation/viewmodels/devices/DevicesViewModel.kt#L24). Maybe you could explicitly state that in the documentation? And I also see that `@UseExperimental` is deprecated a

[2020-10-09 10:26] #57 closed

[2020-10-09 10:27] Reedyuk commented on #57
Ah, yes that was it.
Could you possibly do a PR with the changes?

Thanks

[2020-10-09 15:00] ln-12 commented on #57
I found that by using the coroutine native-mt dependency we can completely get rid of MainCompat. Everything should be up to date now.

[2020-10-16 14:42] etwilliams opened #59 "Add support for manufacturerSpecificData (Android) and kCBAdvDataManufacturerData (iOS)"
I've been looking into the library for use in my companies BLE apps. It seems very simple to use and I look forward to being able to add this to our toolkit. One feature we use a lot is embedding information into the advertising data. Is it possible to add ScanRecord.manufacturerSpecificData (for Android) and kCBAdvDataManufacturerData (for iOS) into the BluetoothPeripheral class? I'm an Android d

[2020-10-16 14:49] Reedyuk commented on #59
Nice idea, happy for you to put in a PR for this.

[2020-10-24 13:27] #49 closed

[2020-10-25 11:52] ln-12 opened #60 "Add support for new Kotlin IR"
The library is currently not compatible with [the new Kotlin IR ](https://kotlinlang.org/docs/reference/whatsnew14.html#new-jvm-ir-backend). I setup a minimal example [here](https://github.com/ln-12/kmm_ir_issue). Please add support for this new backend.

[2020-10-25 16:31] Reedyuk commented on #60
Hi, what sort of impact would this have on people using none kotlin IR projects? I would'nt want to restrict people using this library already.

[2020-10-25 16:38] ln-12 commented on #60
I really don't know. That seems to be a big problem as you can't mix libraries that support and don't support IR. Maybe two artifacts would be appropriate?

[2020-10-25 16:39] Reedyuk commented on #60
Its currently in alpha, is there a reason for the push to support it right now?

[2020-10-25 16:41] ln-12 commented on #60
You must enable IR if you want to use Jetpack compose.

[2020-10-25 17:19] Reedyuk commented on #60
I have added a PR to enable IR but i haven't had chance to update android example.

[2020-10-25 17:24] ln-12 commented on #60
Great! Thanks for your fast reply 😄

[2020-11-27 14:51] Fouda opened #62 "kmm example - iOS App crashes"
The iOS App (Kmm Exmaple) crashes while launching.
I guess it is due to the initialisation of the **DevicesViewModel** .

[2020-12-17 09:12] davidlepilote opened #63 "changeMTU() method does not work as expected"
When requesting a change of the MTU, the peripheral returned by the callback does not contain services and characteristics. Yet, if you keep a reference of previous characteristics, one cannot write or read on it anymore.

The problem seems to lie in the fact that the MTU change request should appear between the connection and the discovery of services. Yet BlueFalcon abstracts this layer by calli

[2020-12-17 09:14] Reedyuk commented on #63
Hi @davidlepilote - do you want to put a PR in for it and try it?

[2020-12-17 09:18] davidlepilote commented on #63
I could try yes

[2021-01-09 17:09] jguerinet opened #64 "Update to Kotlin v1.4.21"
**Describe the bug**
Library currently can't be used in the newest MPP projects using Kotlin 1.4.21. Specifically fails on the Kotlin/Native side.

**To Reproduce**
Attempt to build a project using Kotlin 1.4.21 and this library.

**Expected behavior**
Build succeeds

**Actual behavior**
Build fails with following error message:
[code]

[2021-01-09 17:11] jguerinet commented on #64
Very stupid mistake... I wasn't using the latest version of the library. Grabbed `0.7.0` from the README instead of checking the history version. All is well with v0.8.0, my apologies.

[2021-01-09 17:11] #64 closed

[2021-02-16 09:32] ln-12 commented on #60
I can conform that it works after updating to Kotlin 1.4.30.

[2021-02-16 09:32] #60 closed

[2021-02-28 18:10] Reedyuk commented on #62
Should work now

[2021-02-28 18:10] #62 closed

[2021-03-06 20:42] weliem commented on #55
I wrote a java library for Bluez. I use it on my raspberry.

https://github.com/weliem/blessed-bluez

[2021-03-06 21:00] Reedyuk commented on #55
To be fair @felislynx-silae - there is a chance i could adjust the platforms to support jvm, android and then this way hopefully would work fine on raspberry pi.
Otherwise for now, i guess you could use @weliem's library.

[2021-03-07 07:10] weliem commented on #55
@Reedyuk , my library is modelled after CoreBluetooth so it should be straightforward to integrate in BlueFalcon...in case you are interested

[2021-03-09 19:56] Reedyuk commented on #55
@weliem - i tried to integrate your library into Blue-Falcon for a java target, but im getting some errors(im running on a mac so maybe that could be it).
https://github.com/Reedyuk/blue-falcon/pull/67
[code]

[2021-03-09 19:57] Reedyuk commented on #55
I need to be able to use a Multi-platform java bluetooth library to ensure Java consumers on any platform can use blue-falcon.

[2021-03-09 20:23] weliem commented on #55
Hi, you are getting that error because you dont have a DBus on your mac. At
startup the code tries to establish a connection with the DBus....which
obviously fails on a Mac...but not on Linux machines

On Tue, 9 Mar 2021 at 20:57, Andrew Reed <notifications@github.com> wrote:

[2021-03-09 20:30] weliem commented on #55
Oh and my library is not a Java multi platform library. Does such a thing even exit?

[2021-03-10 16:13] weliem commented on #55
I don't think that will work. Bluecove is totally dead and out of date. The nice thing of Kotlin MP is that you don't need one library to back it all. You can have different implementation for each target. So I thought you would only have to add a 'jvm' target to your project and use a Bluez library for that.....

[2021-03-13 05:40] onooma opened #68 "KMM example doesn't work on android 10+"
**Describe the bug**
When running the KMM example on a device with android 10+, the scan fails and the following error appears in logcat:
`BluetoothUtils: Permission denial: Need ACCESS_FINE_LOCATION permission to get scan results`
For scanning BLE devices on android 10+, app needs to access `ACCESS_FINE_LOCATION` instead of `ACCESS_COURSE_LOCATION` as stated in the [android developers blog](https

[2021-03-13 08:00] #68 closed

[2021-03-13 11:25] Reedyuk commented on #55
@felislynx-silae @weliem - can you both check out https://github.com/Reedyuk/blue-falcon/pull/67
I have created a target version, but i dont have a RPI at hand to test.

If you run the RPI-Example, it will create a tar/zip file and you can run the bin/RPI-Example file, it should work.

[2021-03-14 16:49] Reedyuk commented on #55
@felislynx-silae rpi support and published.

```implementation 'dev.bluefalcon:blue-falcon-rpi:0.9.3'```

[2021-03-14 16:49] #55 closed

[2021-05-30 23:07] jamesjmtaylor opened #72 "iOS App throws "kotlin.IllegalStateException: There is no event loop. Use runBlocking { ... } to start one.""
**Describe the bug**
After running an XCode project created with KMM I encounter the error "kotlin.IllegalStateException: There is no event loop. Use runBlocking { ... } to start one."

**To Reproduce**
Steps to reproduce the behavior:
1. Launch the compiled iOS application
2. Grant Bluetooth permissions
3. Observe an empty UITableView.

**Expected behavior**
The DevicesViewController should popul

[2021-06-03 16:33] Reedyuk commented on #72
Let me have a look and see whats going on

[2021-06-03 17:53] Reedyuk commented on #72
Hi @jamesjmtaylor - i have updated the KotlinMM example for ios - this is now working, maybe use this as reference.
https://github.com/Reedyuk/blue-falcon/tree/master/examples/KotlinMP-Example
If you are still struggling, then provide me with an example and i can have a look for you.

[2021-06-03 19:40] jamesjmtaylor commented on #72
@Reedyuk awesome!  Thank you.  I'll give it a go and let you know if I run into any issues.

[2021-06-03 20:15] jamesjmtaylor commented on #72
@Reedyuk I went through the changes you made at

https://github.com/Reedyuk/blue-falcon/commit/98dff7bda90f219137ed799f9e25379fc83e3ef7
and
https://github.com/Reedyuk/blue-falcon/commit/afb5b30c8b52fe057fbdaff4dacb69a56f46c739

Unfortunately I had already implemented these changes prior to your fix (the sample project wouldn't compile otherwise). You can find my source code at https://github.com/j

[2021-06-05 16:54] jamesjmtaylor commented on #72
@Reedyuk I found the issue.  Since I'm fairly new to KMM, I was launching the iOS project from XCode, rather than Android Studio.  That meant that the Framework wasn't being recompiled, even after I compiled the Android KMM app to compare this iOS app against.  After making that small change to my workflow it compiled & ran! Thank you for looking into this.

![IMG_F681AC1FFD81-1](https://user-imag

[2021-06-05 16:54] #72 closed

[2021-06-06 01:14] jamesjmtaylor opened #73 "Non-null service UUID constructor parameter removes all scan results for iOS"
**Describe the bug**
Non-null service UUID constructor parameter removes all scan results for iOS, even those that match.

**To Reproduce**
Steps to reproduce the behavior:
1. Update the AppDelegate method in the iOS project to pass a service UUID string in the initialization of the BlueFalcon singleton.

**Expected behavior**
Only devices that match that service should be shown.

**Desktop (pleas

[2021-06-06 09:07] Reedyuk commented on #73
"Use the forks" or something on those lines.
@jamesjmtaylor - this is exactly what forks were invented, fork this repository, create your changes and when you create a PR you can target the master to being reedyuk/blue-falcon/master.

Good luck!

[2021-06-06 14:57] jamesjmtaylor commented on #73
@Reedyuk PR is up! https://github.com/Reedyuk/blue-falcon/pull/74

[2021-06-06 15:17] #73 closed

[2021-06-29 10:52] iphonedev4radixweb opened #75 "No such module 'BlueFalcon'"
opening an example project throw error in DeviceViewModel.swif file

[2021-06-29 11:08] Reedyuk commented on #75
Which example project? Sounds like its not building the framework, you should have a console error in the build.
Also What version of xcode and kotlin are you building for?

[2021-06-29 11:14] iphonedev4radixweb commented on #75
example project for iOS . My xcode version is 12.4 .

[2021-06-29 11:16] Reedyuk commented on #75
Do you have a screenshot or copy of the build output?

[2021-06-29 11:18] iphonedev4radixweb commented on #75
I am getting build time error . there is no build output
![Screenshot 2021-06-29 at 4 53 29 PM](https://user-images.githubusercontent.com/61785252/123788577-cd6f1e80-d8f9-11eb-96dc-cef4ac8e90fb.png)

[2021-06-29 11:20] Reedyuk commented on #75
Do you have kotlin installed?

[2021-06-29 11:22] Reedyuk commented on #75
You have this output? it should show more details on the error.
![Screenshot 2021-06-29 at 12 22 22](https://user-images.githubusercontent.com/3853006/123789042-a2be9f00-d8d4-11eb-80ca-055046d0f126.png)

[2021-06-29 11:22] Reedyuk commented on #75
The iOS example needs to be built against a real device target.

[2021-06-29 11:24] Reedyuk commented on #75
Just realised now, the IOS example, you need to open the whole project in Intelli-j and build the project, this will produce a BlueFalcon framework, which you can then use.
Here is one i made earlier.
[BlueFalcon.framework.zip](https://github.com/Reedyuk/blue-falcon/files/6732982/BlueFalcon.framework.zip)

[2021-06-29 11:29] iphonedev4radixweb commented on #75
ok let me try thanks a lot

[2021-06-30 07:25] Reedyuk commented on #75
Any lick @iphonedev4radixweb ?

[2021-07-05 10:00] Reedyuk commented on #75
Closing due to inactivity.

[2021-07-05 10:00] #75 closed

[2021-08-05 18:23] permiakovsa opened #77 "Windows 10 platform support"
There is no a working solution to use Windows Bluetooth Api in Java/Kotlin desktop app. The only was is to switch to Linux or to C#
Is it possible to port windows to use in kotlin somehow?
Do you mind to schedule such feature?

[2021-08-05 18:35] Reedyuk commented on #77
I'm not a windows user, so would be significant effort to support. If you feel you are up to the task, fork the repo and put in a pr

[2021-09-08 12:09] beniamin-cazacu opened #79 "Byte array values are not properly converted on iOS"
**Describe the bug**
I want to use the blue-falcon library in a Kotlin Multiplatform app. I face the following situation: I need to convert a value to a byte array, in the order of Little Endian, and send it to a sensor.
In Android, I can do this using the following method: ByteBuffer.allocate(4).order(ByteOrder.LITTLE_ENDIAN).putFloat(value).array()

The issue with this is that on Android we can

[2021-09-09 15:35] beniamin-cazacu commented on #79
I may found a solution to this issue. I opened  #80 PR and I added the option to send the array without the need to decode and encode again the array.

[2021-09-09 15:36] #79 closed

[2021-09-09 21:30] renatosmf opened #83 "The characteristic value change delegate never fire"
** Describe the bug **
I'm trying to run the recording event without response and listening to the characteristic value change, but the delegate never notify the characteristic value change, but on my peripheral, I can see that it received the recording event.

**Reproduce**
Steps to reproduce the behavior:
1. Set to notify characteristic value change
2. Write about an unanswered feature
3. It sho

[2021-09-10 06:40] Reedyuk commented on #83
Can you produce a sample project with the problem?

[2021-09-25 20:19] renatosmf commented on #83
@Reedyuk You can reproduce this issue by just running your Example project trying to write the characteristic value without response and you will see that delegates method `didCharacteristcValueChanged` never is called.

[2021-12-12 10:53] Reedyuk opened #85 "Latest release failing due to no xcode 13 support on github"
Waiting for github to support xcode 13 - blocking the release

[2022-03-28 10:10] nilskasseckert commented on #85
Hi @Reedyuk,
Anything new on that?
Regards,
Nils

[2022-03-28 10:24] Reedyuk commented on #85
Fixed, being published as we speak, should take a few hours to be able to fetch v0.10.0

[2022-04-01 13:09] AsifArhan opened #86 "BlueFalcon not found in iOS"
I am getting below error while running the iOS example project
There is no XCFramework found at '/Users/apple/Downloads/blue-falcon-master/library/build/universal/BlueFalcon.xcframework'.

[2022-04-01 13:10] Reedyuk commented on #86
run the gradle task makeUniversalFramework
Then try again.

[2022-04-01 13:45] AsifArhan commented on #86
I don't have kotlin installed in my mac, do i need to download kotlin for this?

[2022-04-01 13:49] Reedyuk commented on #86
this library probably isn't for you then. It is to be used for kotlin multiplatform projects, the intention was not to be used independently on ios(technically if you had the universal framework you could make it work but probably not worth it).

[2022-04-01 13:49] #86 closed

[2022-04-01 13:51] AsifArhan commented on #86
Thank you for the quick response, is there any way to do it in iOS if you could suggest

[2022-04-01 13:53] Reedyuk commented on #86
Depends on what 'it' is, if you mean interact with bluetooth in ios? then there is plenty of great tutorials online using the sdk's provided by apple.

[2022-04-04 04:43] AsifArhan commented on #86
Okay Thank you

[2022-04-08 12:19] nilskasseckert commented on #85
Hi @Reedyuk,

the new version can be still not found. Can you please check again?
Thanks!

[2022-04-08 12:20] Reedyuk commented on #85
https://mvnrepository.com/artifact/dev.bluefalcon/blue-falcon/0.10.0

[2022-04-08 13:05] nilskasseckert opened #87 "Kotlin KMM dev.bluefalcon.BluetoothUnknownException: Unknown error happened"
**Describe the bug**
 I have included the library via KMM. I have added the dependency in commonMain. Now I built a wrapper around the class in shared code in Kotlin. This looks like this:
[code]

In iOS I start the scanning in the ViewModel via the following code:
[code]
The app crashes immediately. Why? The crash report contains following:
[code]

**To Reproduce**
Ue the same code as I

**Expect

[2022-04-08 13:11] nilskasseckert commented on #85
It seems that something else is wrong. If I use it on my KMM-Project. Version 0.9.5 is found and autocompletion works. If I now update to 0.10.0 the import is not found anymore.

[2022-04-08 13:39] Reedyuk commented on #85
does the project build?

[2022-04-08 13:54] Reedyuk commented on #87
Would like to just check one important thing, is this when running a simulator? or a device?

[2022-04-08 14:45] nilskasseckert commented on #87
When running on device. Bluetooth permission is granted

[2022-04-08 14:45] nilskasseckert commented on #85
No because he can not found the lib

[2022-04-08 14:46] Reedyuk commented on #87
Then its not an issue because bluetooth is not supported on simulators.

[2022-04-08 14:47] Reedyuk commented on #85
is the samples failing to build when bumping to 0.10.0?

[2022-04-08 14:47] nilskasseckert commented on #87
DEVICE i Wrote

The issue is on DEVICE

[2022-04-08 14:48] nilskasseckert commented on #87
NOT SIMULATOR!!

[2022-04-08 14:49] Reedyuk commented on #87
its probably because apple changed enum for errors in ios 15.
Have you tried to debug the issue? This is an open source project, so happy for you to produce a pr to resolve the issue.

[2022-04-08 14:53] nilskasseckert commented on #87
Why do you think this is an problem with enums?

The error is "BluetoothUnkownError"

And the app crash because I don't handle the issue. But my question is: What does "BluetoothUnkownError" mean.

Debugging an KMM Application is unfortanly a litte bit complicated...

[2022-04-08 14:58] nilskasseckert commented on #85
The sample application does not work at all anymore for me. Too old versions. Next week I can try to get it running but should be the same problem.

[2022-04-08 14:59] Reedyuk commented on #87
if you look at the stacktrace that you posted, you can track it back to where its happening in the kotlin code.
[code]
Its happening in the function BlueFalcon.scan() and creates an exception called BluetoothUnknownException.
If you look at the ios target source code of the lib.

https://github.com/Reedyuk/blue-falcon/blob/20d886522368d14ceb748a11345657d9e06cefb0/library/src/iosMain/kotlin/dev/blu

[2022-04-08 15:00] Reedyuk commented on #85
if i get time over the weekend, i will try and update the samples for you.

[2022-04-08 15:01] nilskasseckert commented on #87
But your library is Using this and initializing this centralManager?  It seems that this does not work correctly.

Why do I need for example an view when I initializing the blue falcon?

See here:
[code]

[2022-04-08 15:04] Reedyuk commented on #87
central manager is an instance of
[code]
CoreBluetooth - again back to an apple foundation library.

The context is useless, it probably should be nullable to be honest, it was put in place to have a common constructor between Android and iOS.

[2022-04-08 20:26] Reedyuk commented on #85
i have made a change to the lib to bump to 1.6.20 of kotlin.
I was able to get blue falcon running on 0.10.0 though.
I would recommend looking for version 0.10.1 and see if you have the same issue.
<img width="783" alt="Screenshot 2022-04-08 at 20 01 29" src="https://user-images.githubusercontent.com/3853006/162525292-7b3ed32e-a772-4c46-ab4b-aea62dbf2437.png">

[2022-04-09 06:18] nilskasseckert commented on #85
Thanks a lot for the fast answer! It works now.

I updated the gradle version and some small things in Xcode for the iOS Project. Without the new gradle version the project does not build for me.

I openend a PR: https://github.com/Reedyuk/blue-falcon/pull/88

Thanks a lot!

[2022-04-09 10:07] nilskasseckert commented on #85
Version 0.10.1 works also for me. Thanks

[2022-04-09 10:09] nilskasseckert commented on #87
I try to debug it. But the error seems to be not an iOS error.

If I catch the exception I get following:
`Unknown error happenedState 5 is .poweredOn`

I use bluetooth since many years but I have never seen this issue in a foundation lib of apple.

[2022-04-09 10:26] Reedyuk commented on #87
Hmm strange,you would of thought that it would be under the status enum

CBManagerStatePoweredOn

So not sure why it would fall under unknown.

I was not able to reproduce in the example projects, do you have a repo where I can reproduce your issue?
You can give me private access if it is sensitive.

[2022-04-09 11:17] nilskasseckert commented on #87
Hi,

thanks for the fast answer! I created a new repo. Because I removed everything private it can be public and found here: https://github.com/AppSupporter/bluetooth-bug

Steps to reproduce the issue:

1. Clone the project
2. Open Xcode Workspace in iOSApp
3. Build the Project
4. Run the App. At the first start you get perhaps only "unknown error". This is because of the missing permission. But a

[2022-04-09 12:49] Reedyuk commented on #85
Just incase anyone else has a similar issue, blue falcon does not publish the x64 target because using intel ios simulator is pointless due to no support for bluetooth

[2022-04-09 12:49] #85 closed

[2022-04-09 13:12] Reedyuk commented on #87
Ah i know the issue now.

You cannot perform a scan immediately after instantiating a BlueFalcon object in iOS, this is due to the way corebluetooth works.
Related to this issue:
https://stackoverflow.com/questions/25932366/cbmanager-state-always-unknown

I have fixed your example where its not working to make the scan fire afterwards, with a scan button.
https://github.com/AppSupporter/bluetooth-

[2022-04-09 13:12] #87 closed

[2022-04-09 14:28] nilskasseckert commented on #87
Thanks a lot!

[2022-04-11 18:26] nilskasseckert commented on #83
Hi @Reedyuk ,
I have a similar problem. Possibly it is related to this: I send with Response on my iPhone. I can see on the device that the message is received and would now expect the response to arrive in the "didCharacteristcValueChanged" method. But it is never called?

Is this the same error or did I do something wrong?

BTW: The method has a typo I just noticed

[2022-04-11 18:34] Reedyuk commented on #83
hard to tell exactly, depends on how the bluetooth device behaves.
Also depends on the device firmware and that if it broadcasts out a characteristic value changed event.

[2022-04-11 18:50] nilskasseckert commented on #83
It confirms the received data, via the standard Bluetooth way.

But let's ask differently: how would it have to acknowledge for the library to recognize it? We develop the firmware ourselves.

If I only use iOS and the Apple Framework, there is the possibility to send with reponse. Everything works With this way.

[2022-04-11 18:54] Reedyuk commented on #83
For when i was using the library for my own project, i was subscribing to the changes. I believe you may need to register to subscribe on value changes.
I was using this library for a simple use case, maybe yours is more complicated and requires a change the library to support such a feature.

[2022-04-11 19:25] twyatt commented on #83
Unlike when performing a write **with response**, when performing a write **without response** the `didCharacteristcValueChanged` will not be called. This is expected behavior, [per documentation](https://developer.apple.com/documentation/corebluetooth/cbperipheraldelegate/1518823-peripheral):

@Reedyuk in order to support write **without response**, Blue Falcon should expose [`canSendWriteWithout

[2022-04-11 19:31] Reedyuk commented on #83
@twyatt - thanks for the detailed explanation.

I'm happy for others to contribute to the repository and put in a pull request for their changes.

[2022-04-15 09:29] ZuhanLin commented on #86
can not find makeUniversalFramework，pls tell me detail steps，ths

[2022-04-15 10:42] Reedyuk commented on #86
You need to run the task assemblexcframework
I need to update the readme

[2022-04-15 11:21] ZuhanLin commented on #86
Thank you，i got it

[2022-04-15 12:13] ZuhanLin commented on #86
![image](https://user-images.githubusercontent.com/5183529/163569125-5cc99551-955f-41b4-a7de-435ac075ad6d.png)
ios-arm64-simulator is needless，how to remove it？

[2022-04-15 13:35] Reedyuk commented on #86
You need to check the build gradle script and you can set the iOS target that is desired.
It's strange it didn't generate all the iOS targets. It's not much of a universal framework when it's only one target architecture

[2022-04-16 11:29] ZuhanLin commented on #86
Thank you for your response，I had run successfully in my device

[2022-04-20 10:52] nilskasseckert commented on #83
@Reedyuk How to subscribe to changes? In your native code you never watch for didWriteValueFor

[2022-04-20 11:35] Reedyuk commented on #83
I believe you need to write the characteristic to subscribe.
Then the characteristic value did changed should call back on changes.

[2022-04-20 13:00] nilskasseckert commented on #83
I opened a PR for this.

[2022-04-20 14:04] #83 closed

[2022-05-05 08:47] ZuhanLin opened #93 "The project 'blue-falcon' is not a Gradle-based project"
Project Sync
The project 'blue-falcon' is not a Gradle-based project

[2022-05-05 08:53] Reedyuk commented on #93
@ZuhanLin - Any more details? the CI is building the project so i doubt its a problem on the project. Maybe an issue with your current setup?

[2022-05-05 09:13] ZuhanLin commented on #93
i clone the project, and Sync project with gradle files by Android Studio ,

[2022-05-05 09:16] ZuhanLin commented on #93
![image](https://user-images.githubusercontent.com/5183529/166894821-d4d8c32a-ea84-4fb9-bbca-8b6f664ab561.png)

[2022-05-05 09:31] Reedyuk commented on #93
I have just tried it with latest master and its working.
Can you try intellij? Make sure you have the latest version, as its using Kotlin 1.6.21

[2022-05-05 10:34] ZuhanLin commented on #93
I download the latest Intellij, but got error that 'This version of the Android Support plugin for IntelliJ IDEA (or Android Studio) cannot open this project, please retry with version 2021.1.1 or newer.
'

[2022-05-05 10:38] Reedyuk commented on #93
Run the build task, does it succeed.
I get that error too on gradle sync, but usually the gradle build task will still succeed.

[2022-05-05 10:39] Reedyuk commented on #93
![Screenshot 2022-05-05 at 11 39 07](https://user-images.githubusercontent.com/3853006/166907358-be4fc01f-b441-437c-a5ab-f0602eddaca2.png)

[2022-05-05 10:50] ZuhanLin commented on #93
i can not find the gradle task list

[2022-05-05 10:51] Reedyuk commented on #93
and if you run
[code]
does it work?

[2022-05-05 10:58] ZuhanLin commented on #93
Yerp, it is SUCCESS ，how can i execute special task

[2022-05-05 11:00] Reedyuk commented on #93
Special task? sounds awesome, i have no idea what you mean by special task.

maybe the question to be asked is, What exactly are you trying to do?

[2022-05-06 08:01] ZuhanLin commented on #93
i can not find gradle task list，sorry ，i am a beginner of gradle project and Intellij

[2022-05-06 08:04] Reedyuk commented on #93
When opening the root folder of the project, i would strongly recommend you open it with Intellij.
When opening the android examples, you should use android studio.

I find this works best for this project - maybe some bugs Jetbrains have not fixed.

If you open the project in intellij and press the reload button.

![Screenshot 2022-05-06 at 09 03 34](https://user-images.githubusercontent.com/3853

[2022-05-06 08:14] ZuhanLin commented on #93
it is not list gradle task but errors below image
![image](https://user-images.githubusercontent.com/5183529/167093721-7341fb21-b0ce-4b44-85f0-c916d0313325.png)

[2022-05-06 08:17] Reedyuk commented on #93
it could be related to the gradle wrapper you are using.
I would recommend you delete the current one and reload it to fetch a new one.

The android support plugin is very twitchy.

[2022-05-06 08:32] ZuhanLin commented on #93
How to debug with xcode or Android studio，is there any Tutorials

[2022-05-06 08:37] Reedyuk commented on #93
https://kotlinlang.org/docs/multiplatform-mobile-create-first-app.html

[2022-05-06 08:37] #93 closed

[2022-07-05 13:14] burnhamd opened #96 "Notify not working on Android"
**Describe the bug**
When calling the notifyCharacteristic, the onCharacteristicChanged never firing.  I am getting a value for the read.  And I have checked that the device indeed does support notifications using the LightBlue Application on IOS.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to the device using blueFalcon.connect(bluetoothPeripheral, true)
2. Wait until didDiscove

[2022-07-05 13:49] Reedyuk commented on #96
Can you try the same thing using lightblue on Android(as you did for ios)? this rules out any reason it could be an android thing.

I would also suggest, after you request 'notify characteristic', can you then perform a single read after this, then wait to see if it updates?

[2022-07-05 14:03] burnhamd commented on #96
For some reason light blue is crashing on this device on startup.  Will see if I can fix that and test.

If I do a read after notify, then I get no read result either.

[2022-07-05 18:50] burnhamd commented on #96
Just confirmed that when I subscribe using the light blue app the notifications are received from the peripheral.

[2022-07-05 23:00] burnhamd commented on #96
I think the issue is here:
`it.characteristic.descriptors.forEach { descriptor ->
                        descriptor.value = descriptorValue
                        gatt.writeDescriptor(descriptor)
                    }`

Here it is iterating through all descriptors and attempting to write an enable notification to it.  But I have additional descriptor.  Instead I think it should just set the noti

[2022-07-20 16:48] MadMe86 opened #97 "Second disconnect not working (Android)"
**Describe the bug**
A second disconnect from a bluetoothPeripheral is not working. Version 0.10.7
Maybe related to #53 ?

**To Reproduce**
Steps to reproduce the behavior:
1. Scan for peripherals
2. connect
3. (read some characteristics)
4. disconnect
5. connect again
6. try to disconnect.

The device is afterwards still connected.
I could also reproduce this behavior with the Android example app

[2022-07-21 07:50] MadMe86 commented on #97
Thanks for mergeing :)
0.10.8 is at the moment not available on Maven Central... does the release take a while?

[2022-07-21 07:53] Reedyuk commented on #97
Sorry, i forgot to release on sonatype. Doing this now, so you should be able to pull it in around an hour, it will appear on maven central a few hours later.

[2022-07-21 07:53] #97 closed

[2022-07-21 08:25] MadMe86 commented on #97
Thank you 👍

[2022-09-24 18:25] dishank-betaflux commented on #50
Any updates on it?

[2022-09-24 20:14] Reedyuk commented on #50
No update yet, but if you want to put a pr in, would happily review it

[2022-10-18 14:01] manosbatsis commented on #77
Perhaps targeting the JVM makes more sense

[2022-10-20 14:06] manosbatsis commented on #77
You can simply target JSR-82 i.e. "Java APIs for Bluetooth Wireless Technology". There's a number of implementations out there, for example [bluecove](http://www.bluecove.org/) has been [tested](https://sourceforge.net/projects/bluecove/) on Mac OS, Windows and Linux

[2022-10-20 18:29] permiakover commented on #77
there is a number of non-working implementations including bluecove, it's very limited. The only working solution is C# using

[2022-11-19 19:38] #59 closed

[2022-11-23 19:35] mehmetakify commented on #77
There are libraries like https://github.com/weliem/blessed-bluez, that support Windows or Linux with JVM.
By the way at least Linux support would be great